
.flex-all-center{
    display:flex ;
    justify-content: center;
    text-align: center;


}
.button{
    padding:5px 10px ;
color: white;
    background-color:lavender;
    border: 1px solid white;
}